<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Blog</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- Custom CSS -->
	<style>
        body{
            font-family: sans-serif;
        }
		.blog-image {
			border-radius: 50%;
			margin-bottom: 20px;
		}
		.blog-title {
			font-size: 24px;
			font-weight: bold;
			margin-bottom: 10px;
		}
		.blog-detail {
			font-size: 16px;
			line-height: 1.5;
		}
	</style>
</head>
{% include 'frontend/includes/nav.html' %}
<body>
    <br><br><br><br><br><br><br>
    <div class="container" style="margin:auto;display: block;">
		<div class="row">
			<div class="col-md-12">
				<h3 class="" style="text-align: center;margin-left: -30px;font-family:monospace;">About Our Expense<br> Management System</h3>
                <br><br><br>
				<img style="width:1000px;height:auto;border-radius: 10px;" class="mx-auto" src="https://assets.materialup.com/uploads/c8ef1f6e-bba6-43bc-9b34-af986071f7a4/preview.jpg" alt="Blog Image">
                <br><br><br>
				<p align="justify" class="blog-detail" style="font-size: 1.4rem; width:1000px">
                    Welcome to the Expense Management System, developed by the Ministry of Education Nepal. Our system is designed to help schools manage their budgets more efficiently and effectively, and to provide greater transparency and accountability in the use of public funds.
<br><br>
                    At the Ministry of Education Nepal, we believe that education is a fundamental right of all citizens, and we are committed to ensuring that every child in Nepal has access to quality education. To achieve this goal, we recognize the importance of providing schools with the tools and resources they need to manage their finances effectively, and to make the most of the resources available to them.
<br><br>
                    
                    Our Expense Management System is a key part of this effort. Developed in collaboration with school administrators and financial experts, our system is designed to meet the unique needs and challenges faced by schools in Nepal. With features like budget management, report sending, saving, and plan management, our system provides a comprehensive solution for schools looking to improve their financial management practices.
<br><br>
                    
                    Our team at the Ministry of Education Nepal is dedicated to supporting schools in their efforts to provide quality education to all children in Nepal. We are proud to have developed the Expense Management System, and we are committed to continuing to improve and refine our system to meet the evolving needs of schools in Nepal.
<br><br>
                    
                    Thank you for your interest in the Expense Management System, and we look forward to working with you to build a brighter future for all children in Nepal.</p>
                    <br><br>
			</div>
		</div>
	</div>
    
	<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
