{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Active online software page - Template</title>
    <meta
      property="og:title"
      content="Active online software page - Template"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}
      body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}
      p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption 
      {  margin: 0;  padding: 0;}button {  background-color: transparent;}
      button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <style>
       body::-webkit-scrollbar {
         width: 0.5em;
         z-index: 100;
         background-color:transparent;
       }


      body::-webkit-scrollbar-thumb {
         background-color:white;
         box-shadow:0 -100vh 0 100vh #5128f5;
       }
    </style>
    <link rel="stylesheet" href="{% static 'frontend/styles/home.css' %}" />
    <link rel="stylesheet" href="{% static 'frontend/styles/style.css' %}" />


  </head>
  <body>
    {% include 'frontend/includes/nav.html' %}
    <div>
      <script
        type="text/javascript"
        src="https://unpkg.com/dangerous-html@0.1.11/dist/default/lib.umd.js"
      ></script>

      <div class="home-container">
        <section class="home-hero" style="background:url('https://img.freepik.com/free-vector/employee-working-office-interior-workplace-flat-vector-illustration_1150-37459.jpg?w=2000');background-repeat: no-repeat;background-size: cover;background-position: center;">

          <!-- header -->
          <div class="home-menu">
            
          </div>


          <header class="home-header">
            <h1 class="home-text007" style="color:black">Take Control of Your Budget</h1>
            <p class="home-text008" style="color:black">
              Manage the Budget released by Ministry of Education in a very efficient way.
            </p>
            <div class="home-get-started1" onclick="redir()">
              <span class="home-text009">Get started</span>
            </div>
          </header>
          <div data-aos="zoom-out-up" class="home-dashboard-preview"  data-aos-duration="2000">
            <div class="home-outline">
              <img
                alt="pastedImage"
        
                src="{% static 'frontend/images/pastedimage-cdo-1000h.png' %}"
                loading="lazy"
                class="home-image"
              />
            </div>
          </div>
        </section>
        <section class="home-features">
          <div class="home-title" data-aos="fade-up"
          data-aos-duration="2000">
            <span class="home-text010">
              <span>Track Budget and manage each expenses</span>
            <span class="home-text014">
              <span>
                Let's Improve our expenses that happen in our school
              </span>
              <span>Improve the studies of students</span>
            </span>
          </div>
          <div class="home-cards">
            <div class="home-container1">
              <div class="card" style="box-shadow: 2px 3px 14px -1px rgba(0,0,0,0.07);
              -webkit-box-shadow: 2px 3px 14px -1px rgba(0,0,0,0.07);
              -moz-box-shadow: 2px 3px 14px -1px rgba(0,0,0,0.07);">
                <img
                  alt="pastedImage"
                  src="{% static 'frontend/images/pastedimage-fii6m-200h.png' %}"
                  class="home-icon02"
                />
                <span class="home-text017">Budget Calculator</span>
                <span class="home-text018">
                  Roughtly calculate how much expenses can happen in your school and manage accordingly
                </span>
              </div>
              <div class="home-publish card" style="box-shadow: 2px 3px 14px -1px rgba(0,0,0,0.07);
              -webkit-box-shadow: 2px 3px 14px -1px rgba(0,0,0,0.07);
              -moz-box-shadow: 2px 3px 14px -1px rgba(0,0,0,0.07);">
                <img
                  alt="pastedImage"
                  src="{% static 'frontend/images/pastedimage-mimg-200h.png' %}"
                  
                  class="home-icon03"
                />
                <span class="home-text019">Request</span>
                <span class="home-text020" style="margin-bottom: 25px;">
                 Request us (Ministry of Education) for Increment/Decrement of Budget
                </span>
              </div>
            </div>
            <div class="home-container2">
              <div class="card home-analyze" style="box-shadow: 2px 3px 14px -1px rgba(0,0,0,0.07);
              -webkit-box-shadow: 2px 3px 14px -1px rgba(0,0,0,0.07);
              -moz-box-shadow: 2px 3px 14px -1px rgba(0,0,0,0.07);">
                <img
                  alt="pastedImage"
                  src="{% static 'frontend/images/pastedimage-l6p-200h.png' %}"
                  class="home-icon04"
                />
                <span class="home-text021">Post</span>
                <span class="home-text022">
                  share what your school have done so far after managing expenses using this system and get reward
                </span>
              </div>
              <div class="card" style="box-shadow: 2px 3px 14px -1px rgba(0,0,0,0.07);
              -webkit-box-shadow: 2px 3px 14px -1px rgba(0,0,0,0.07);
              -moz-box-shadow: 2px 3px 14px -1px rgba(0,0,0,0.07);">
                <img
                  alt="pastedImage"
                  src="{% static 'frontend/images/pastedimage-vyi5-200h.png' %}"
                  class="home-icon05"
                />
                <span class="home-text023">Stay Tuned</span>
                <span class="home-text024">
                 Have a look into our blogs section to get an idea, how you can effectively use this system
                </span>
              </div>
            </div>
          </div>
        </section>
        <section class="home-quote-container">
          <div class="home-quote">
            <span class="home-message">
              “Get budget for your school annualy, manage the expenses of your school. Visualize all the expenses
              and analyse where the expense can be decreased or increased such that it will improve the education of student”
            </span>
            <div class="home-author">
              <img
                alt="image"
                src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDV8fGdpcmx8ZW58MHx8fHwxNjY0ODA5MjE1&amp;ixlib=rb-1.2.1&amp;w=200"
                class="home-avatar"
              />
              <span class="home-quote1">
                <span class="home-text025">—&nbsp; Ministry of Educaiton</span>
                <span>Chief Executive Officer</span>
              </span>
            </div>
          </div>
        </section>
        <section class="home-statistics">
          <div class="home-container3">
            <div class="active-users-active-users metrics">
              <span class="active-users-text"><span>3.5M</span></span>
              <span class="active-users-text1">
                <span>— Active users</span>
              </span>
            </div>
            <div class="active-users-active-users metrics">
              <span class="active-users-text"><span>100M+</span></span>
              <span class="active-users-text1"><span>Budget</span></span>
            </div>
            <div class="active-users-active-users metrics">
              <span class="active-users-text"><span>250K</span></span>
              <span class="active-users-text1">
                <span>— Accounts Managed</span>
              </span>
            </div>
            <div class="active-users-active-users metrics">
              <span class="active-users-text"><span>30M</span></span>
              <span class="active-users-text1">
                <span>— Students</span>
              </span>
            </div>
          </div>
        </section>
        <section class="home-banners">
          <div class="home-banner-manage">
            <div class="home-container4">
              <div class="home-left1">
                <span class="sub-title">Content Management</span>
                <span class="home-text028 title">
                  Manage all your school Expenses in just one place.
                </span>
                <span class="home-text029">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  vv
                </span>
                <div class="home-get-started2 template-button">
                  <span class="home-text030">Get started</span>
                </div>
              </div>
              <div class="home-image-container">
                <img
                  alt="pastedImage"
                  src="{% static 'frontend/images/pastedimage-wvmq.svg' %}"

                  class="home-cards-image"
                />
              </div>
            </div>
          </div>
          <div class="home-banner-advanced-analytics">
            <div class="home-centered-container">
              <div class="home-image-container1">
                <img
                  alt="pastedImage"
                  src="{% static 'frontend/images/test.svg' %}"
                  class="home-cards-image1"
                />
              </div>
              <div class="home-right1">
                <span class="sub-title">Reporting Metrics</span>
                <h2 class="home-text032 title">
                  Advanced analytics, easy to understand.
                </h2>
                <div class="home-category">
                  <span class="home-text033">Power reports</span>
                  <span class="home-text034">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. vv
                  </span>
                  <span class="home-text035">Example -&gt;</span>
                </div>
                <div class="home-category1">
                  <span class="home-text036">Power reports</span>
                  <span class="home-text037">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. vv
                  </span>
                  <span class="home-text038">Example -&gt;</span>
                </div>
              </div>
            </div>
          </div>
          <div class="home-banner">
            <div class="home-container5">
              <div class="home-left2">
                <span class="home-text039">Improve </span>
                <h2 class="home-text040 title">
                  Powerful scheduler that saves you time
                </h2>
                <span class="home-text041">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  vv
                </span>
                <div class="home-get-started3 template-button">
                  <span class="home-text042">Get started</span>
                </div>
              </div>
              <div class="home-image-container2">
                <img
                  alt="pastedImage"
                  src="{% static 'frontend/images/83d913a38a75e38d7cef4fea757ed7ed-1200w.png' %}"

                  class="home-cards-image2"
                />
              </div>
            </div>
          </div>
        </section>
     
        <section class="home-how-it-works">
          <div class="home-centered-container2">
            <div class="home-heading1">
              <span class="home-text046">How it works</span>
              <span class="home-text047 title">
                Being social and getting leads has never been easier
              </span>
            </div>
            <div class="home-category2">
              <div class="home-headng">
                <span class="home-text048">1 — Sign up</span>
                <span class="home-text049">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  vv
                </span>
                <div class="home-get-started4 template-button">
                  <span class="home-text050">Get started</span>
                </div>
              </div>
              <div class="home-container8">
                <img
                  alt="pastedImage"
                  src="{% static 'frontend/images/pastedimage-k5xi.svg' %}"

                  class="home-pasted-image"
                />
              </div>
            </div>
            <div class="home-row">
              <div class="home-category3">
                <div class="home-headng1">
                  <span class="home-text051">2 — Act</span>
                  <span class="home-text052">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. vv
                  </span>
                </div>
                <img
                  alt="pastedImage"
                  src="{% static 'frontend/images/pastedimage-ibg-1200w.png' %}"

                  class="home-pasted-image1"
                />
              </div>
              <div class="home-category4">
                <div class="home-headng2">
                  <span class="home-text053">2 — Act</span>
                  <span class="home-text054">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. vv
                  </span>
                </div>
                <img
                  alt="pastedImage"
                  src="{% static 'frontend/images/pastedimage-3c4o-1200w.png' %}"

                  class="home-pasted-image2"
                />
              </div>
            </div>
          </div>
        </section>
    
        <section class="home-testimonals">
          <div class="home-left3">
            <span class="home-text090">Testimonals</span>
            <span class="home-text091 title">What people say about Active</span>
          </div>
          <div class="home-right2">
            <div class="home-column">
              <div class="testimonal-testimonal testimonal">
                <span class="testimonal-text">
                  <span>
                    "EDUWISE is a fantastic web app for monitoring the progress of government schools in Nepal. It's user-friendly and provides a wealth of information, making it an essential tool for anyone involved in education.”
                  </span>
                </span>
                <div class="testimonal-author">
                  <div class="testimonal-avatar">
                    <img
                      alt="image"
                  src="{% static 'frontend/images/image552912-e3yq-200h.png' %}"

                      class="testimonal-image"
                    />
                  </div>
                  <div class="testimonal-user">
                    <span class="testimonal-name"><span>Anmol Adhikari</span></span>
                    <span class="testimonal-divider">—</span>
                    <span class="testimonal-from">
                      <span>Vista Social</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="testimonal-testimonal testimonal">
                <span class="testimonal-text">
                  <span>
                    “EDUWISE is a game-changer for the education sector in Nepal. It provides a platform for teachers and administrators to collaborate and share best practices, allowing for real-time monitoring of school progress.”
                  </span>
                </span>
                <div class="testimonal-author">
                  <div class="testimonal-avatar">
                    <img
                      alt="image"
                  src="{% static 'frontend/images/image312912-mvsg-200h.png' %}"

                      class="testimonal-image"
                    />
                  </div>
                  <div class="testimonal-user">
                    <span class="testimonal-name">
                      <span>Manoj Gurung</span>
                    </span>
                    <span class="testimonal-divider">—</span>
                    <span class="testimonal-from">
                      <span>Social Club</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="testimonal-testimonal testimonal">
                <span class="testimonal-text">
                  <span>
                    “EDUWISE is an essential tool for anyone involved in education in Nepal. The app is well-designed and easy to use, providing a wealth of information on student attendance, exam results, and other metrics.”
                  </span>
                </span>
                <div class="testimonal-author">
                  <div class="testimonal-avatar">
                    <img
                      alt="image"
                  src="{% static 'frontend/images/image502912-6wy-200h.png' %}"
                      
                      class="testimonal-image"
                    />
                  </div>
                  <div class="testimonal-user">
                    <span class="testimonal-name"><span>Subodh Budhathoki</span></span>
                    <span class="testimonal-divider">—</span>
                    <span class="testimonal-from"><span>BeMe</span></span>
                  </div>
                </div>
              </div>
              <div class="testimonal-testimonal testimonal">
                <span class="testimonal-text">
                  <span>
                    “EDUWISE allows parents to monitor the progress of their children's government school in real-time. It provides transparency and allows for comparisons with classmates, making it a must-have for any parent or guardian with children in government schools.”
                  </span>
                </span>
                <div class="testimonal-author">
                  <div class="testimonal-avatar">
                    <img
                      alt="image"
                  src="{% static 'frontend/images/image202912-zekh-200h.png' %}"

                      class="testimonal-image"
                    />
                  </div>
                  <div class="testimonal-user">
                    <span class="testimonal-name">
                      <span>Nirvaya Basnet</span>
                    </span>
                    <span class="testimonal-divider">—</span>
                    <span class="testimonal-from"><span>Hello W.</span></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="home-column1">
              <div class="testimonal-testimonal testimonal">
                <span class="testimonal-text">
                  <span>
                    "EDUWISE is an amazing web app for tracking the performance of government schools in Nepal. It offers comprehensive data that allows educators to make data-driven decisions and improve the quality of education.”
                  </span>
                </span>
                <div class="testimonal-author">
                  <div class="testimonal-avatar">
                    <img
                      alt="image"
                    
                  src="{% static 'frontend/images/image572912-0d3-200h.png' %}"

                      class="testimonal-image"
                    />
                  </div>
                  <div class="testimonal-user">
                    <span class="testimonal-name">
                      <span>Bibek Basnet</span>
                    </span>
                    <span class="testimonal-divider">—</span>
                    <span class="testimonal-from"><span>Handsly</span></span>
                  </div>
                </div>
              </div>
              <div class="testimonal-testimonal testimonal">
                <span class="testimonal-text">
                  <span>
                    “EDUWISE is an essential tool for school administrators in Nepal. The app provides real-time data on student attendance and performance, which helps them identify areas of improvement and implement targeted interventions.”
                  </span>
                </span>
                <div class="testimonal-author">
                  <div class="testimonal-avatar">
                    <img
                      alt="image"
                  src="{% static 'frontend/images/image632913-swij-200h.png' %}"

                      class="testimonal-image"
                    />
                  </div>
                  <div class="testimonal-user">
                    <span class="testimonal-name"><span>Bibek karki</span></span>
                    <span class="testimonal-divider">—</span>
                    <span class="testimonal-from"><span>Share</span></span>
                  </div>
                </div>
              </div>
              <div class="testimonal-testimonal testimonal">
                <span class="testimonal-text">
                  <span>
                    "EDUWISE is an excellent resource for teachers in Nepal. It offers a wide range of metrics and data points that can help them tailor their teaching approach to suit the needs of their students and improve student outcomes.”
                  </span>
                </span>
                <div class="testimonal-author">
                  <div class="testimonal-avatar">
                    <img
                      alt="image"
                  src="{% static 'frontend/images/image102913-x4z8-200h.png' %}"

                      class="testimonal-image"
                    />
                  </div>
                  <div class="testimonal-user">
                    <span class="testimonal-name">
                      <span>Rohan Khatiwada</span>
                    </span>
                    <span class="testimonal-divider">—</span>
                    <span class="testimonal-from"><span>Gather</span></span>
                  </div>
                </div>
              </div>
              <div class="testimonal-testimonal testimonal">
                <span class="testimonal-text">
                  <span>
                    "EDUWISE is a highly valuable app for anyone involved in the education sector in Nepal. It provides transparency and accountability, making it an effective tool for driving positive change and improving the quality of education.”
                  </span>
                </span>
                <div class="testimonal-author">
                  <div class="testimonal-avatar">
                    <img
                      alt="image"
                  src="{% static 'frontend/images/image562913-ycff-200h.png' %}"

                      class="testimonal-image"
                    />
                  </div>
                  <div class="testimonal-user">
                    <span class="testimonal-name"><span>Mary Pau</span></span>
                    <span class="testimonal-divider">—</span>
                    <span class="testimonal-from"><span>Zigo</span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <span class="home-text092">
            <span>Show more</span>
            <br />
          </span>
        </section>
        <section class="home-action-bar">
          <div class="home-action">
            <div class="home-heading3">
              <span class="home-text095 title">
                <span>Calculate Budget Now&nbsp;</span>
                <br />
              </span>
              <span class="home-text099">
               Roughly calculate your school expenses here and visualize it.
              </span>
              <div class="home-get-started8 template-button">
                <span class="home-text100">
                  <span>Sign up</span>
                  <br />
                </span>
              </div>
            </div>
            <div class="home-images">
              <img
                alt="image"
                src="{% static 'frontend/images/e564eaa3c4fab71792794d666a281742-1200w.png' %}"

                class="home-image1"
              />
            </div>
          </div>
        </section>
        <section class="home-faq">
          <div class="home-heading4">
            <span class="home-text103 title">Frequently asked questions</span>
            <span class="home-text104">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. vv
            </span>
          </div>
          <div class="home-accordion">
            <div data-faq="closed" class="accordionContainer">
              <div class="home-header1">
                <span class="home-text105">
                  — What is sit amet, consectetur adipiscing elit, sed do?
                </span>
                <svg viewBox="0 0 1024 1024" class="accordionIcon">
                  <path
                    d="M316 366l196 196 196-196 60 60-256 256-256-256z"
                  ></path>
                </svg>
              </div>
              <div class="accordionContent">
                <span class="home-text106">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa
                  qui officia deserunt mollit anim id est laborum.
                </span>
              </div>
            </div>
            <div class="accordionContainer">
              <div class="home-header2">
                <span class="home-text107">
                  — Why is dolore magna aliqua excepteur sint
                </span>
                <svg viewBox="0 0 1024 1024" class="accordionIcon">
                  <path
                    d="M316 366l196 196 196-196 60 60-256 256-256-256z"
                  ></path>
                </svg>
              </div>
              <div class="accordionContent">
                <span class="home-text108">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa
                  qui officia deserunt mollit anim id est laborum.
                </span>
              </div>
            </div>
            <div data-faq="closed" class="accordionContainer">
              <div class="home-header3">
                <span class="home-text109">
                  — Is excepteur sint occaecat cupidatat non proident, sunt in
                  culpa qui officia deserunt mollit anim id est laborum?
                </span>
                <svg viewBox="0 0 1024 1024" class="accordionIcon">
                  <path
                    d="M316 366l196 196 196-196 60 60-256 256-256-256z"
                  ></path>
                </svg>
              </div>
              <div class="accordionContent">
                <span class="home-text110">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa
                  qui officia deserunt mollit anim id est laborum.
                </span>
              </div>
            </div>
            <div data-faq="closed" class="accordionContainer">
              <div class="home-header4">
                <span class="home-text111">
                  — Who quasi architecto beatae vitae dicta sunt explicabo. Nemo
                  enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                  aut fugit, sed quia consequuntur magni
                </span>
                <svg viewBox="0 0 1024 1024" class="accordionIcon">
                  <path
                    d="M316 366l196 196 196-196 60 60-256 256-256-256z"
                  ></path>
                </svg>
              </div>
              <div class="accordionContent">
                <span class="home-text112">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa
                  qui officia deserunt mollit anim id est laborum.
                </span>
              </div>
            </div>
            <div data-faq="closed" class="accordionContainer">
              <div class="home-header5">
                <span class="home-text113">
                  — Is minim veniam quis nostrud exercitation ullamco laboris
                  nisi ut aliquip ex ea commodo consequat.
                </span>
                <svg viewBox="0 0 1024 1024" class="accordionIcon">
                  <path
                    d="M316 366l196 196 196-196 60 60-256 256-256-256z"
                  ></path>
                </svg>
              </div>
              <div class="accordionContent">
                <span class="home-text114">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa
                  qui officia deserunt mollit anim id est laborum.
                </span>
              </div>
            </div>
          </div>
          <div>
            <dangerous-html
              html="<script>
// Accordion - Code Embed

const accordionContainers = document.querySelectorAll('.accordionContainer'); // All accordion containers
const accordionContents = document.querySelectorAll('.accordionContent'); // All accordion content
const accordionIcons = document.querySelectorAll('.accordionIcon'); // All accordion icons

accordionContents.forEach((accordionContent) => {
    accordionContent.style.display = 'none'; //Hides all accordion contents
});

accordionContainers.forEach((accordionContainer, index) => {
    accordionContainer.addEventListener('click', () => {
        accordionContents.forEach((accordionContent) => {
            accordionContent.style.display = 'none'; //Hides all accordion contents
        });

        accordionIcons.forEach((accordionIcon) => {
            accordionIcon.style.transform = 'rotate(0deg)'; // Resets all icon transforms to 0deg (default)
        });

        if (accordionContainer.classList.contains('accordion-open')) { // Checks if this container has class 'accordion-open'
            accordionContainer.classList.remove('accordion-open'); // Removes class 'accordion-open'
        } else {
            accordionContainers.forEach((accordionContainer) => {
                accordionContainer.classList.remove('accordion-open'); // Removes class 'accordion-open' from all containers
            });

            accordionContainer.classList.add('accordion-open'); // Adds class 'accordion-open' to this container
            accordionContents[index].style.display = 'flex'; // Shows accordion content
            accordionIcons[index].style.transform = 'rotate(180deg)'; // Rotates accordion icon 180deg
        }
    });
});

/*
Here's what the above is doing:
    1. Selects all accordion containers, contents, and icons
    2. Hides all accordion contents
    3. Adds an event listener to each accordion container
    4. When an accordion container is clicked, it:
        - Hides all accordion contents
        - Resets all icon transforms to 0deg (default)
        - Checks if this container has class 'accordion-open'
            - If it does, it removes class 'accordion-open'
            - If it doesn't, it:
                - Removes class 'accordion-open' from all containers
                - Adds class 'accordion-open' to this container
                - Shows accordion content
                - Rotates accordion icon 180deg
*/
</script>"
            ></dangerous-html>
          </div>
        </section>
        <!-- <footer class="home-footer">
          <div class="home-top">
            <div class="home-left4">
              <span class="home-text115">Subscribe to our newsletter</span>
              <div class="home-subscription">
                <input
                  type="email"
                  placeholder="Enter your email"
                  class="home-textinput input"
                />
                <div class="home-subscribe">
                  <span class="home-text116">Subscribe</span>
                </div>
              </div>
              <span class="home-text117">
                By subscribing to our newsletter you agree with our Terms and
                Conditions.
              </span>
              <div class="home-contact">
                <span class="home-text118">Contact</span>
                <a
                  href="mailto:use@active-app.com?subject=Support"
                  class="home-link"
                >
                  use@active-app.com
                </a>
              </div>
            </div>
            <div class="home-right3">
              <div class="home-category5">
                <span class="home-text119">Solutions</span>
                <div class="home-links2">
                  <span class="home-text120">Responsive Web Design</span>
                  <span class="home-text121">Responsive Prototypesv</span>
                  <span class="home-text122">Design to Code</span>
                  <span class="home-text123">Static Website Builder</span>
                  <span class="home-text124">Static Website Generator</span>
                </div>
              </div>
              <div class="home-category6">
                <span class="home-text125">Company</span>
                <div class="home-links3">
                  <span class="home-text126">About</span>
                  <span class="home-text127">Team</span>
                  <span class="home-text128">News</span>
                  <span class="home-text129">Partners</span>
                  <span class="home-text130">Careers</span>
                  <span class="home-text131">Press &amp; Media</span>
                </div>
              </div>
              <div class="home-category7">
                <span class="home-text132">Solutions</span>
                <div class="home-links4">
                  <span class="home-text133">Twitter</span>
                  <span class="home-text134">Linkedin</span>
                  <span class="home-text135">Crunchbase</span>
                  <span class="home-text136">Instagram</span>
                  <span class="home-text137">Facebook</span>
                </div>
              </div>
            </div>
          </div>
          <div class="home-bottom">
            <img
              alt="pastedImage"
              src="{% static 'frontend/images/pastedimage-no9b-1500h.png' %}"

              class="home-branding"
            />
          </div>
        </footer> -->
      </div>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script>
      const redir=()=>{
        window.location.href="/login"
      }
    </script>
  </body>
</html>
